*{
    margin: 0px;
}
.header{
    display: flex;
    background-color: red;
    height: 7vh;
    flex-direction: row;
    justify-content: space-between;
    /*margin:auto;*/
}
.logo{
    margin: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 36vh;
    /*padding: 10px;*/
    /*justify-content: center;*/
    /*margin: 10px, 10px, 10px, 10px;*/
}
.buttons{
    /*margin: 0%;*/
    width: 48vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.buttonstext{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(216, 139, 152);
    width: 11vh;
    height: 6vh;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.vacio{
    width: 36vh;
}
.titulo{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
}
.titulo2{
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}
.texto{
    display: flex;
    justify-content: center;
    margin: 7vh, 7vh, 7vh, 2vh;
    align-items: center;
    height: 10vh;
    /*flex-wrap: wrap;*/
}
.maintext{
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 48vh;
}
.primeraseccion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.textovacio1{
    height: 23vh;
}
.segundaseccion{
    display: flex;
    justify-content: center;
    height: 8vh;
}
.textovacio2{
    height: 23vh;
}
.foot{
    background-color: black;
    color: white;
    height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}